---
layout: layout
---
<!-- This is the blog index page -->

<script type="text/javascript">
	function onKeyUp(event, href) {
		let current = event.target;
		// Only continue if we are focused on an article element
		if (current.classList.contains("article")) {
			let parentRow = current.parentElement;
			let nextRow = parentRow.nextElementSibling;
			let prevRow = parentRow.previousElementSibling;
			switch(event.key) {
				case "ArrowRight":
					let next = current.nextElementSibling;
					if (next != null) {
						// Focus on next article
						next.focus();
					} else {
						nextRow?.firstElementChild?.focus();
					}
					break;
				case "ArrowLeft":
					let prev = current.previousElementSibling;
					if (prev != null) {
						prev.focus();
					} else {
						prevRow?.lastElementChild?.focus();
					}
					break;
				case "ArrowUp":
					if (prevRow != null) {
						// Special case - only one element in the row
						if (parentRow.children.length === 1) {
							// Go to the middle element
							prevRow.children[1]?.focus();
						} else if (current === parentRow.children[0]) {
							prevRow.children[0]?.focus();
						} else if (current === parentRow.children[1]) {
							prevRow.children[1]?.focus();
						} else {
							prevRow.children[2]?.focus();
						}
					}
					break;
				case "ArrowDown":
					if (nextRow != null) {
						if (nextRow.children.length === 1) {
							nextRow.children[0]?.focus();
						} else if (nextRow.children.length === 2) {
							if (current === parentRow.children[0]) {
								nextRow.children[0]?.focus();
							} else {
								nextRow.children[1]?.focus();
							}
						} else {
							if (current === parentRow.children[0]) {
								nextRow.children[0]?.focus();
							} else if (current === parentRow.children[1]) {
								nextRow.children[1]?.focus();
							} else {
								nextRow.children[2]?.focus();
							}
						}						
					}
				case "Enter":
					window.location.href = href;
					break;
				default:
					break;
			}
		}
	}
</script>

<style>
	.main-container {
		padding: 0 !important;
	}

	.uhf-container {
		width: 100% !important;
		max-width: 100% !important;
	}
</style>

<div class="blog w3-content" >

	<div class="w3-center" style="width: 100%; margin: 24px 0 50px 10px ; background-color: #fdf5fc; border-radius: 8px; border: 2px solid #af33a1; padding: 25px 50px">
		<p class="w3-xlarge"><b>NEW</b></p>
		<h1>Are you building Copilot, Teams or Outlook scenarios powered by Adaptive Cards?</h1>
		<p class="w3-large">The <a class="w3-large" href="https://adaptivecards.microsoft.com">Adaptive Card Documentation Hub</a> is the new one-stop-shop for all your Adaptive Card needs! It has all the resources you're looking for, including complete documentation for many new features, such as
			<a class="w3-large" href="https://adaptivecards.microsoft.com/?topic=responsive-layout">Responsive layout</a>,
			<a class="w3-large" href="https://adaptivecards.microsoft.com/?topic=Icon">Icon</a>,
			<a class="w3-large" href="https://adaptivecards.microsoft.com/?topic=Badge">Badge</a>,
			<a class="w3-large" href="https://adaptivecards.microsoft.com/?topic=Carousel">Carousel</a>,
			<a class="w3-large" href="https://adaptivecards.microsoft.com/?topic=Chart.Line">Charts</a>,
			and much more!
		</p>
		<p class="w3-large">The <a href="https://adaptivecards.microsoft.com/designer">new Adaptive Card Designer</a> also has plenty of high quality samples built-in. Check them out!
		</p>
		<button role="link" onclick="window.location.href='https://adaptivecards.microsoft.com'"
			class="w3-button w3-large w3-round-medium ac-blue" aria-label="Click to navigate to the Adaptive Card Documentation Hub">
			Visit the hub
		</button>
	</div>

	<% page.posts.each(function(post, i) { %>

	<% if(i % 3 === 0) { /* start a new row every 3 posts */ %>
	<div class="w3-cell-row w3-padding-16">
		<% } %>
		<article class="w3-cell w3-margin-bottom w3-padding-16 w3-container w3-mobile article" style="width: 328px" onkeyup="onKeyUp(event, '<%- config.root %><%- post.path %>')" tabindex="0">
			<% var imageSrc = post.featured_image ? url_for(post.featured_image) : url_for('content/icons_blue/blue-wide.png');
				var style = "background-image: url('" + imageSrc + "')"  %>
			<a href="<%- config.root %><%- post.path %>" class="coverImage" style="<%= style %>" aria-label="<%= post.title %>"></a>

			<h2><a class="article-title" href="<%- config.root %><%- post.path %>"><%- post.title %></a></h2>

			<h3 class="article-subtitle"><%- post.subtitle %></h3>

			<div class="w3-margin-top">
				<div class="w3-cell w3-cell-middle">
					<a href="<%- post.author.webpage %>"><img src="<%- post.author.avatar %>" class="w3-image w3-circle"
							style="width: 35px; margin-right: 6px" alt="Go to the webpage for <%- post.author.name %>" /></a>
				</div>
				<div class="w3-cell">
					<a class="article-author" href="<%- post.author.webpage %>"><%- post.author.name %></a>
					<datetime class="article-date" style="margin: 0"><%= post.date.format("MMM D, YYYY") %></datetime> ·
					<span class="reading-time"><%- readingTime(post.content, 'min read') %></span>
				</div>
			</div>


		</article>

		<% if(i % 3 === 2) { %>
	</div>
	<% } %>
	<% }); %>

	<% if(page.posts.length % 3 !== 0) { /* if the posts were not divisible by 3, we need to close the last row */ %>
	</div>
	<% } %>

	<!-- Pager -->

	<ul class="w3-ul w3-center w3-medium">
		<% if (page.prev){ %>
		<li class="previous">
			<a class="w3-button ac-blue" href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
		</li>
		<% } %>
		<% if (page.next){ %>
		<li class="next">
			<a class="w3-button ac-blue" href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
		</li>
		<% } %>
	</ul>
</div>
