
<div id="content-wrapper" class="w3-content explorer" style="max-width:1564px">


  <nav id="sidebar-todo" class="toc-todo w3-sidebar w3-collapse w3-bar-block" style="width: 250px">
    <div class="sidebar__inner">
      <div class="w3-panels w3-padding-larges">
        <ul aria-treegrid="true">
          <% page.schema.forEach(function(root) { %>
              <li><span onclick="myAccFunc()"><i class="fa fa-angle-down"></i> <%= root.title %></span>
                <ul>
                  <% root.children.forEach(function(child) { %>
                    <li class='<%= is_current(child.name + ".html") ? "selectedHolder" : "" %>'>
                      <a href="<%- url_for('explorer/' + child.name + '.html') %>"><%= child.name %></a>
                    </li>
                  <% }) %>
                </ul>
              </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="w3-main" style="margin-left: 260px">
    <div class="w3-cell-row ">
      <div class="w3-container w3-cell w3-mobile">
        <h1><%= page.element.name %></h1>

        <p><%= page.element.description %></p>

        <div class="ac-properties w3-margin-top"> 
          <%- markdown(page.propertiesSummary) %>
        </div>
        
      </div>
    <div class="w3-container w3-cell w3-mobile" style="width: 300px">
    </div>
  </div>


  <% page.element.examples.forEach(function (example, i) { %>
    <% if(i == 0) { %>
      <h2 class="w3-container">Example</h2>
      <%- partial("_partial/code-example", { examplePath: example }) %>
  <% }}) %>


  <%- propertiesDetails(page.element.properties) %>

</div>