<div class="homepage">

	<div id="videoModal" class="w3-modal w3-card-4">
		<div class="w3-modal-content w3-animate-zoom">
			<video id="overviewVideo" tabIndex="0" controls="" width="100" style="width: 100%" poster="<%- url_for('content/poster-video.png') %>">
				<source src="https://adaptivecardsblob.blob.core.windows.net/assets/AdaptiveCardsOverviewVideo.mp4"
					type="video/mp4" />
			</video>
			<span id="closeVideo" tabIndex="0" aria-label="Close video" class="w3-button w3-xlarge w3-transparent w3-display-topright"
				title="Close video">×</span>
		</div>
	</div>


	<div class="w3-center" style="max-width: 600px; margin: auto">
		<div class="w3-margin w3-padding-32">
			<h1 class="w3-xxxlarge"><%- site.data.home.en.heading %></h1>
			<div class="accent-paragraph"><%- site.data.home.en.heading_paragraph %></div>
			<div class="w3-padding-16">
				<button role="link" onclick="window.location.href='https://docs.microsoft.com/en-us/adaptive-cards/'"
					style="width:150px" class="w3-button w3-round-xxlarge ac-blue" aria-label="<%- site.data.home.en.adaptive_cards %> <%- site.data.home.en.get_started %>">
					<%- site.data.home.en.get_started %>
				</button>
				<button class="w3-button w3-round-xxlarge w3-border w3-border-blue w3-margin-left" style="width:150px"
					id="watchVideo" aria-label="<%- site.data.home.en.adaptive_cards %> <%- site.data.home.en.watch_video %>">
					<i class="fas fa-play"></i>&nbsp; <%- site.data.home.en.watch_video %>
				</button>
			</div>
		</div>
	</div>

	<div class="w3-row-padding mainSection">
		<div class="w3-col l9">
			<div class="w3-card" style="background-color: #0078D7">
				<video id="vid" playsinline autoplay muted style="width: 100%; margin-bottom: -8px"
					data-loop-delay="5000"
					src="https://adaptivecardsblob.blob.core.windows.net/assets/AdaptiveIntroVideo.mp4"></video>
			</div>
		</div>

		<div class="w3-col l3">
			<div class="w3-row">
				<div role="heading" aria-level="2" class="platform-header"><%- site.data.home.en.made_for_title %></div>
				<ul class="platform-list">
					<% for(var link of site.data.home.en.made_for) { %>	
						<li>
							<div class="w3-col s4 m3 l12"><a
								href="<%- link.href %>" aria-label="<%- site.data.home.en.made_for_title %> <%- link.title %>"><i
									class="<%- link.fa %>"></i> <%- link.title %></a></div>
						</li>
					<% } %>
				</ul>
			</div>

			<div class="w3-row">
				<div class="w3-col s6 l12">
					<div role="heading" aria-level="3" class="platform-header"><%- site.data.home.en.releases_title %></div>
					<ul class="platform-list">
						<% for(var link of site.data.home.en.releases) { %>
							<li>
								<div>
									<a href="<%- link.href %>" aria-label="<%- site.data.home.en.releases_title %> <%- link.title %>">
										<i class="<%- link.fa %>" aria-hidden="true"></i>
										<%- link.title %>
									</a>
									<span class="w3-tag w3-round w3-tiny <%- link.tag_class %>"><%- link.tag %></span>
								</div>
							</li>
						<% } %>
					</ul>
				</div>
			</div>

			<div class="w3-row">
				<div class="w3-col s6 l12">
					<div role="heading" aria-level="3" class="platform-header"><%- site.data.home.en.github_title %></div>
					<ul class="platform-list">
						<li>
							<div>
								<a href="https://github.com/microsoft/AdaptiveCards/" target="_blank" rel="noopener" aria-label="<%- site.data.home.en.github_title %> AdaptiveCards">
									<i class="fab fa-github"></i>
									AdaptiveCards
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="divider"></div>

	<%- partial("_partial/home-section", {
		section: site.data.home.en.home_section
	}) %>

	<%- partial("_partial/section-details", {
		sections: site.data.home.en.partner_details
	}) %>

	<div class="w3-padding-32"></div>

	<%- partial("_partial/quote", {
		quote: site.data.home.en.quotes.richard
	}) %>

	<div class="divider"></div>

	<%- partial("_partial/home-section", {
		section: site.data.home.en.extensibility_section
	}) %>

	<%- partial("_partial/section-details", {
		sections: site.data.home.en.extensibility_details
	}) %>

	<div class="w3-padding-32"></div>

	<%- partial("_partial/quote", {
		quote: site.data.home.en.quotes.bill
	}) %>

	<div class="divider"></div>

	<%- partial("_partial/home-section", {
		section: site.data.home.en.design_section
	}) %>

	<div class="w3-padding-32"></div>

	<%- partial("_partial/quote", { 
		quote: site.data.home.en.quotes.joe
	}) %>

	<div class="divider"></div>


	<%- partial("_partial/home-section", {
		section: site.data.home.en.template_section
	}) %>

	<%- partial("_partial/section-details", {
		sections: site.data.home.en.template_details
	}) %>

	<div class="w3-padding-32"></div>

	<%- partial("_partial/quote", {
		quote: site.data.home.en.quotes.tim
	}) %>

</div>
