<!-- This is the blog post layout -->
<% var post = page %>

<style>
.main-container {
	padding: 0 !important;
	background: #f3f3f3 !important;
}

.uhf-container {
	width: 100% !important;
	max-width: 100% !important;
}
</style>

<script async src="https://static.addtoany.com/menu/page.js"></script>
<div class="blog">
		
	<div class="w3-row">
		<div class="w3-col l2 w3-hide-small w3-hide-medium">&nbsp;</div>

		<div class="w3-col l8 w3-container w3-padding-32 w3-medium"
			style="background-color: white; margin-top: 32px; margin-bottom: 32px;">

			<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:100px; top:250px;"
				data-a2a-icon-color="transparent,#3c3c3c">
				<a class="a2a_button_facebook"></a>
				<a class="a2a_button_twitter"></a>
				<a class="a2a_button_linkedin"></a>
			</div>

			<div class="w3-center">
				<h2 class="w3-xlarge"><%- post.title %></h2>
				<div><img src="<%- post.author.avatar %>" class="w3-circle" style="width: 80px" /></div>
				<h3 class="w3-large"><%- post.author.name %></h3>
				<%= post.date.format(config.date_format) %>
			</div>

			<div class="w3-padding-32">
				<%- post.content %>
			</div>

			<div class="w3-row-padding w3-border-top w3-padding">
				<div class="w3-col w3-margin-top" style="width: 120px"><img src="<%- post.author.avatar %>" class="w3-circle"/></div>
				<div class="w3-rest">
					<h3><a href="<%- post.author.webpage %>" class="w3-large"><%- post.author.name %></a></h3>
					<p style="margin: 8px 0"><%- post.author.bio %></p>
					<%- followbuttons(post.author) %>
				</div>

			</div>
		</div>

		<div class="w3-col l2 w3-hide-small w3-hide-medium">&nbsp;</div>

	</div>

	<!-- Mobile a2a share icons -->
	<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" style="bottom:0px; right:0px;"
		data-a2a-icon-color="white,#3c3c3c">
		<a class="a2a_button_facebook"></a>
		<a class="a2a_button_twitter"></a>
		<a class="a2a_button_linkedin"></a>
	</div>

</div>