<div id="content-wrapper" class="sample-browser w3-margin-bottom" style="max-width:1550px">

	<nav id="sidebar-todo" class="toc-todo sidebar w3-cell w3-hide-small w3-hide-medium w3-bar-block"
		style="width: 200px">
		<div class="sidebar__inner">
			<ul class="samples-sidebar-list">
				<% page.samples.forEach(function(sample, i) { %>
				<li class='<%= page.samplePath === sample.htmlPath ? "selectedHolder" : "" %>'>
					<a href="<%- url_for(sample.htmlPath) %>"><%= sample.name %></a>
				</li>
				<% }) %>

			</ul>

		</div>
	</nav>

	<div class="w3-main" style="margin-left: 200px">

		<div class="w3-row-padding">
			<div class="w3-col m6">
				<h1><%= page.title %></h1>
				<p>These samples are <em>just a teaser</em> of the type of cards you can create.
					Go ahead and tweak them to make any scenario possible!</p>

				<!-- mobile nav -->
				<div class="w3-hide-large">
					<span>Choose sample: </span>
					<select id="menu-nav" class="w3-select w3-border w3-margin-bottom">
						<% page.samples.forEach(function(sample) { %>
						<% if(is_current(sample.htmlPath)) { %>
						<option value='<%- url_for(sample.htmlPath) %>' selected="selected"><%= sample.name %></option>
						<% } else { %>
						<option value='<%- url_for(sample.htmlPath) %>'><%= sample.name %></option>
						<% } %>
						<% }) %>
					</select>
				</div>
			</div>

			<div class="w3-col m6 w3-margin-top">
				<div class="w3-cell-row2">
					<div class="w3-cell" style="width: 50px;">
						<label>
							<input type="checkbox" checked id="enableTemplating" class="bigbox" />
						</label>
					</div>
					<div class="w3-cell w3-cell-middle">
						<label class="w3-large" for="enableTemplating">Use Adaptive Card Templating <span class="w3-tag w3-medium w3-round ac-blue">Updated May 2020</span></label>
					</div>
				</div>
				
				<p>Templating enables the separation of <strong>data</strong> from the <strong>layout</strong> in an Adaptive Card. It helps design a card once, and then populate it with real data at runtime. <em>Note:</em> The binding syntax changed in May 2020. <a href="https://docs.microsoft.com/en-us/adaptive-cards/templating/">Get started with templating <i class="fas fa-chevron-right"></i></a></p>

			</div>
		</div>

		<h2 class="w3-container"><%= page.sample.name %> sample</h2>

		<%- code_and_card(page.jsonPath, page.templatePath, page.dataPath) %>
	</div>

</div>
