<div id="content-wrapper" class="sample-browser w3-margin-bottom" style="max-width:1550px">

	<nav id="sidebar-todo" class="toc-todo sidebar w3-cell w3-hide-small w3-hide-medium w3-bar-block"
		style="width: 200px" aria-label="Sample cards">
		<div class="sidebar__inner">
			<ul class="samples-sidebar-list">
				<% page.samples.forEach(function(sample, i) {
                    const isSelected = (page.samplePath === sample.htmlPath);
                %>
					<a role="listitem"
                       <%= isSelected ? "class=selectedHolder" : "" %>
                       aria-current='<%= isSelected.toString() %>'
                       aria-posinset='<%= (i+1).toString() %>'
                       aria-setsize='<%= page.samples.length.toString() %>'
                       href="<%- url_for(sample.htmlPath) %>"><%= sample.name %></a>
				<% }) %>

			</ul>
		</div>
	</nav>

	<div class="w3-main" style="margin-left: 200px">

		<div class="w3-row-padding">
			<div class="w3-col m6">
				<h1><%= site.data.samples.en.title %></h1>
				<p><%- site.data.samples.en.intro %></p>

				<p><%- site.data.samples.en.accwarning %>
				</p>
		

				<!-- mobile nav -->
				<div class="w3-hide-large">
					<span><%= site.data.samples.en.choose_sample %></span>
					<select id="menu-nav" class="w3-select w3-border w3-margin-bottom" title="Samples menu">
						<% page.samples.forEach(function(sample) { %>
						<% if(is_current(sample.htmlPath)) { %>
						<option value='<%- url_for(sample.htmlPath) %>' selected="selected"><%= sample.name %></option>
						<% } else { %>
						<option value='<%- url_for(sample.htmlPath) %>'><%= sample.name %></option>
						<% } %>
						<% }) %>
					</select>
				</div>
			</div>

			<div class="w3-col m6 w3-margin-top">
				<div class="w3-cell-row2">
					<div class="w3-cell" style="width: 50px;">
						<label>
							<input type="checkbox" checked id="enableTemplating" class="bigbox" tabIndex="0" />
						</label>
					</div>
					<div class="w3-cell w3-cell-middle">
						<label class="w3-large" for="enableTemplating"><%- site.data.samples.en.use_templating %></label>
					</div>
				</div>
				
				<p><%- site.data.samples.en.templating_info %></p>

			</div>
		</div>

		<h2 class="w3-container"><%= page.sample.name %> <%= site.data.samples.en.sample %></h2>

		<%- code_and_card(site, page.jsonPath, page.templatePath, page.dataPath) %>
	</div>

</div>
