<%- partial('_partial/head') %>

<body>

<%- partial('_partial/header', null, {cache: !config.relative_link}) %>

  <%- body %>
</div>
        
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
<%- partial('_partial/after-footer') %>

</body>
</html>