
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white" href="javascript:void(0);" onclick="toggleNav()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="<%- url_for() %>" class="w3-bar-item w3-button w3-padding-large"><%= config.title %></a>
 
       <% for (var i in theme.menu){ %>
           <a href="<%- url_for(theme.menu[i]) %>" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"><%= i %></a>
        <% } %>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="nav" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top">
    <a href="<%- url_for() %>" class="w3-bar-item w3-button w3-padding-large w3-white"><%= config.title %></a>

      <% for (var i in theme.menu){ %>
          <a href="<%- url_for(theme.menu[i]) %>" class="w3-bar-item w3-button w3-padding-large"><%= i %></a>
      <% } %>
</div>
