<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

    <h1>Consistent Cards</h1>
    <img src= "data:image/png;base64,<%=nodeImg %>" > <br>
    <p>Warnings: <%=nodeWarnings %></p>
    <p>Errors: <%=nodeErrors %></p>
    <p>The above image is rendered on node js</p><br>
    <img src= "data:image/png;base64,<%=WPFImg %>" > <br>
    <p>Warnings: <%=WPFWarnings %></p>
    <p>Errors: <%=WPFErrors %></p>
    <p>The above image is rendered on .NET WPF</p><br>
    
  </body>
</html>