<div class="footer-holder w3-row-padding w3-border-top w3-padding-32">

	<div class="w3-cell-row ac-footer" style="margin: 0 auto; max-width: 920px">

		<div class="w3-cell w3-container w3-margin-top w3-mobile" style="width: 300px">


			<img src="<%- url_for('content/adaptive-cards-100.png') %>" alt="Adaptive Cards logo"
				class="w3-image" style="width: 75px; margin-right: 6px" /> 
			<span class="w3-large brand">Adaptive Cards</span>
			<p>Homepage design inspired by <a class="ac-footer-link-no-chevron" href="https://storybook.js.org">Storybook.js</a>.
				Site powered by <a class="ac-footer-link-no-chevron" href="https://hexo.io">Hexo</a>.</p>
			<p class="w3-small build-date">Build date: <%= new Date().toLocaleDateString() %></p>
		</div>

		<div class="w3-cell w3-container w3-margin-top w3-mobile" style="width: 300px">
			<div role="heading" aria-level="2" class="platform-header">Learn</div>
			<% for (var link of site.data.footer.en.learn_links) { %>
				<p><a href="<%- url_for(link.href) %>"><%- link.title %> <i class="fas fa-chevron-right"></i></a></p>
			<% } %>
		</div>
 
		<div class="w3-cell w3-container w3-margin-top w3-mobile" style="width: 300px; max-width: 300px">
			<div class="w3-cell-row" style="margin-top: 6px;">
				<div role="heading" aria-level="2" class="w3-cell w3-cell-middle platform-header">Blog</div>
				<a class="w3-cell w3-cell-middle w3-small" aria-label="Read more blog posts" style="padding-left: 20px;"
					href="<%- url_for('blog') %>">Read more <i class="fa fa-chevron-right"></i></a>
			</div>

			<% site.posts.sort("-date").slice(0, 4).each(function(post) { %>
			<div class="w3-margin-top">
				<a href="<%- config.root %><%- post.path %>"><%- post.title %> <i class="fas fa-chevron-right"></i></a>
				<p class="post-subtitle"><%- post.subtitle %></p>
			</div>
			<% }); %>
		</div>

	
		<div style="clear:both" role="presentation">&nbsp;</div>

	</div>

	<div class="ac-uhf-footer"><%- config.uhf_footer %></div>

</div>

<% /* Load scripts based on the URL */ %>

<% if(is_current("designer")) { %>

	<% /* Designer scripts are loaded from the designer.ejs template */ %>

<% } else if(is_current("/")) { %>

	<%- hashed_asset('js/script.js') %>

<% } else { %>

	<% /* Any local assets here must also be included in generator-adaptiveassets.js */ %>
	<%- hashed_asset("node_modules/markdown-it/dist/markdown-it.min.js") %>
	<%- hashed_asset("node_modules/highlightjs/highlight.pack.min.js") %>
	<%- hashed_asset("node_modules/adaptive-expressions/lib/browser.js") %>
	<%- hashed_asset('node_modules/adaptivecards-templating/dist/adaptivecards-templating.min.js') %>	
	<%- hashed_asset('node_modules/adaptivecards/dist/adaptivecards.min.js') %>	
	<%- hashed_asset('js/script.js') %>

<% } %> 
