<section id="headerArea" data-m='{"cN":"headerArea","cT":"Area_coreuiArea","id":"a1Body","sN":1,"aN":"Body"}'>
 <div id="headerRegion" data-region-key="headerregion" data-m='{"cN":"headerRegion","cT":"Region_coreui-region","id":"r1a1","sN":1,"aN":"a1"}' >
 
 <div id="headerUniversalHeader" data-m='{"cN":"headerUniversalHeader","cT":"Module_coreui-universalheader","id":"m1r1a1","sN":1,"aN":"r1a1"}' data-module-id="Category|headerRegion|headerRegion|headerUniversalHeader|coreui-universalheader">
 
 
 
 
 
 
 
 
 <header role="banner" class="c-universal-header context-uhf no-js " itemscope="itemscope" data-header-footprint="en-us/MSDocsAdaptivecards/MSDocsAdaptivecardsheader" itemtype="http://schema.org/Organization">
 <div class="theme-light js-global-head f-closed " ms.pgarea='Universal Header'>
 <div>
 <button class="c-action-trigger c-glyph glyph-global-nav-button" aria-label="Header navigation menu" aria-expanded="false" ms.title='Mobile menu button'></button>
 <button class="c-action-trigger c-glyph glyph-arrow-htmllegacy" aria-expanded="false" ms.title='Close Search'></button>
 <a id="uhfLogo" class="c-logo" itemprop="url" href="https://www.microsoft.com" aria-label="Microsoft" ms.cmpgrp='GlobalNav_Logo'>
 <img itemprop="logo" itemscope="itemscope" class="c-image" alt="Microsoft" src="https://assets.onestore.ms/cdnfiles/external/uhf/long/9a49a7e9d8e881327e81b9eb43dabc01de70a9bb/images/microsoft-gray.png" />
 <span>Microsoft</span>
 </a>
 <div class="f-mobile-title">
 <button class="c-action-trigger c-glyph glyph-chevron-left" aria-label="See more menu options" ms.title='Mobile back button'></button>
 <span data-global-title="Microsoft home" class="js-mobile-title">Adaptive Cards</span>
 <button class="c-action-trigger c-glyph glyph-chevron-right" aria-label="See more menu options" ms.title='Mobile forward button'></button>
 </div>
 
 </div>
 
 
 </div>
 <div class="theme-dark brand-neutral js-cat-head" itemprop="brand" itemscope="itemscope" itemtype="http://schema.org/Brand" ms.cmpgrp='UHF category nav'>
 
 <div>
 <a id="uhfCatLogo" class="c-logo" href="<%- url_for('/') %>" aria-label="Adaptive Cards" itemprop="url" ms.title='Adaptive Cards'>
 <span>Adaptive Cards</span>
 </a>
 
 <button class="c-action-trigger c-glyph glyph-chevron-left" aria-label="Scroll left" title="Scroll left" ms.title='Previous'></button>
 
 <button class="c-action-trigger c-glyph glyph-chevron-right" aria-label="Scroll right" title="Scroll right" ms.title='Next'></button>
 <nav id="uhf-c-nav" role="navigation" aria-labelledby="uhfCatLogo" >
 <a id="shellmenu_0" class="c-uhf-nav-link" href="https://docs.microsoft.com/en-us/adaptive-cards" ms.title='Documentation'>Documentation</a>
 <a id="shellmenu_1" class="c-uhf-nav-link" href="<%- url_for('explorer') %>" ms.title='Schema Explorer'>Schema Explorer</a>
 <a id="Visualizer" class="c-uhf-nav-link" href="<%- url_for('visualizer') %>" ms.title='Visualizer'>Visualizer</a>
 <a id="shellmenu_3" class="c-uhf-nav-link" href="<%- url_for('samples') %>" ms.title='Samples'>Samples</a>
 <a id="shellmenu_4" class="c-uhf-nav-link" href="<%- url_for('connect') %>" ms.title='Connect'>Connect</a>
  </nav>
 
 </div>
 
 
 
 </div>
 
 
 </header>
 
 
 </div>
 </div>
 
 </section>