<head>
	<meta charset="utf-8">
	<%
		var title = page.title;

		if (is_archive()){
			title = __("archive_a");

			if (is_month()){
			title += ": " + page.year + "/" + page.month;
			} else if (is_year()){
			title += ": " + page.year;
			}
		} else if (is_category()){
			title = __("category") + ": " + page.category;
		} else if (is_tag()){
			title = __("tag") + ": " + page.tag;
		}
	%>
	<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="alternate" href="<%- url_for(config.feed.path) %>" title="<%= config.title %>" type="application/atom+xml">
	<link rel="icon" href="<%- url_for('content/favicon.ico') %>">

	<% if(is_current("designer")) { %>
		<link rel="manifest" href="<%- url_for('manifest.json') %>">
	<% } %>

	<% if(is_post()) { %>
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Adaptive Cards | <%- page.title %>">
		<meta name="twitter:description" content="<%- page.subtitle %>">
		<meta name="twitter:creator" content="<%- locals['page.author.twitter'] ? '@' + page.author.twitter : '""' %>">
		<meta name="twitter:image" content="<%- url_for(page.featured_image) %>">
		<meta name="twitter:domain" content="adaptivecards.io">
	<% } %>

	<% if(!is_current("designer")) { %>
		<%- hashed_asset("node_modules/@fortawesome/fontawesome-free/css/all.min.css") %>
		<%- hashed_asset("node_modules/highlightjs/styles/default.css") %>

		<%- hashed_asset("css/w3.css") %>
		<%- hashed_asset("css/extracted.css") %>
		<%- hashed_asset("css/outlook.css") %>
		<%- hashed_asset("css/style.css") %>
	<% } %>

	<%- hashed_asset("node_modules/jquery/dist/jquery.min.js") %>

	<%- config.uhf_css %>
	<%- config.uhf_javascript %>

	<script type="text/javascript">
		var sdkInstance="appInsightsSDK";window[sdkInstance]="appInsights";var aiName=window[sdkInstance],aisdk=window[aiName]||function(e){function n(e){t[e]=function(){var n=arguments;t.queue.push(function(){t[e].apply(t,n)})}}var t={config:e};t.initialize=!0;var i=document,a=window;setTimeout(function(){var n=i.createElement("script");n.src=e.url||"https://az416426.vo.msecnd.net/scripts/b/ai.2.min.js",i.getElementsByTagName("script")[0].parentNode.appendChild(n)});try{t.cookie=i.cookie}catch(e){}t.queue=[],t.version=2;for(var r=["Event","PageView","Exception","Trace","DependencyData","Metric","PageViewPerformance"];r.length;)n("track"+r.pop());n("startTrackPage"),n("stopTrackPage");var s="Track"+r[0];if(n("start"+s),n("stop"+s),n("setAuthenticatedUserContext"),n("clearAuthenticatedUserContext"),n("flush"),!(!0===e.disableExceptionTracking||e.extensionConfig&&e.extensionConfig.ApplicationInsightsAnalytics&&!0===e.extensionConfig.ApplicationInsightsAnalytics.disableExceptionTracking)){n("_"+(r="onerror"));var o=a[r];a[r]=function(e,n,i,a,s){var c=o&&o(e,n,i,a,s);return!0!==c&&t["_"+r]({message:e,url:n,lineNumber:i,columnNumber:a,error:s}),c},e.autoExceptionInstrumented=!0}return t}(
		{
		  instrumentationKey:"bd0c4f36-dd0f-4984-8f32-32cb44d6055a"
		}
		);window[aiName]=aisdk,aisdk.queue&&0===aisdk.queue.length&&aisdk.trackPageView({});
	</script>
</head>
