<head>
	<meta charset="utf-8">
	<%
		var title = page.title;

		if (is_archive()){
			title = __("archive_a");

			if (is_month()){
			title += ": " + page.year + "/" + page.month;
			} else if (is_year()){
			title += ": " + page.year;
			}
		} else if (is_category()){
			title = __("category") + ": " + page.category;
		} else if (is_tag()){
			title = __("tag") + ": " + page.tag;
		}
	%>
	<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script type="text/javascript">  var appInsights=window.appInsights||function(a){    function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c    }({        instrumentationKey:"bd0c4f36-dd0f-4984-8f32-32cb44d6055a"    });      window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();</script>


	<link rel="alternate" href="<%- url_for(config.feed.path) %>" title="<%= config.title %>" type="application/atom+xml">
	<link rel="icon" href="<%- url_for('content/favicon.ico') %>">

	<% if(is_post()) { %>
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Adaptive Cards | <%- page.title %>">
		<meta name="twitter:description" content="<%- page.subtitle %>">
		<meta name="twitter:creator" content="<%- locals['page.author.twitter'] ? '@' + page.author.twitter : '""' %>">
		<meta name="twitter:image" content="<%- url_for(page.featured_image) %>">
		<meta name="twitter:domain" content="adaptivecards.io">
	<% } %>

	<% if(is_current("visualizer")) { %>
		<%- hashed_asset("css/w3.css") %>
		<%- hashed_asset("visualizer/css/visualizer.css") %>
	<% } else if(!is_current("designer")) { %>
		<%- hashed_asset("node_modules/@fortawesome/fontawesome-free/css/all.min.css") %>
		<%- hashed_asset("node_modules/highlightjs/styles/default.css") %>

		<%- hashed_asset("css/w3.css") %>
		<%- hashed_asset("css/extracted.css") %> 
		<%- hashed_asset("visualizer/css/outlook.css") %>
		<%- hashed_asset("css/style.css") %>
	<% } %>


	<%- hashed_asset("node_modules/jquery/dist/jquery.min.js") %>


	<% /* from UHF MSDocsHeader-AdaptiveCards */ %>
	<link rel="stylesheet" href="https://www.microsoft.com/onerfstatics/marketingsites-wcus-prod/west-european/shell/_scrf/css/themes=default.device=uplevel_web_pc/59-469920/ad-9005a4/bd-292223/26-13ca9e/b7-1464e7/8e-a868c0/58-faa810/34-4fda9f?ver=2.0" type="text/css" media="all" />
	<link rel='stylesheet' href='https://statics-marketingsites-wcus-ms-com.akamaized.net/statics/override.css?c=7' type='text/css' />
	<script src="https://www.microsoft.com/onerfstatics/marketingsites-wcus-prod/shell/_scrf/js/themes=default/54-af9f9f/c0-247156/de-099401/e1-a50eee/e7-954872/d8-97d509/f0-251fe2/46-be1318/77-04a268/11-240c7b/63-077520/a4-34de62/1b-c96630/db-bc0148/dc-7e9864/78-4c7d22/39-97e6ff/16-4c1a9d/cd-23d3b0/6d-1e7ed0/b7-cadaa7/ca-40b7b0/4e-ee3a55/3e-f5c39b/c3-6454d7/f9-7592d3/92-10345d/79-499886/7e-cda2d3/62-95a6e7/93-283c2d/e0-3c9860/91-97a04f/1f-100dea/33-abe4df/f2-fae105?ver=2.0&iife=1"></script>


</head>