<div class="header-holder">
    <div id="headerAreaHolder" data-bi-name="header">
        <section id="headerArea" data-m="{&quot;cN&quot;:&quot;headerArea&quot;,&quot;cT&quot;:&quot;Area_coreuiArea&quot;,&quot;id&quot;:&quot;a1Body&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;Body&quot;}">
            <div id="headerRegion" data-region-key="headerregion" data-m="{&quot;cN&quot;:&quot;headerRegion&quot;,&quot;cT&quot;:&quot;Region_coreui-region&quot;,&quot;id&quot;:&quot;r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;a1&quot;}">

                <div id="headerUniversalHeader" data-m="{&quot;cN&quot;:&quot;headerUniversalHeader&quot;,&quot;cT&quot;:&quot;Module_coreui-universalheader&quot;,&quot;id&quot;:&quot;m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;r1a1&quot;}"
                    data-module-id="Category|headerRegion|headerRegion|headerUniversalHeader|coreui-universalheader">

                  <a id="uhfSkipToMain" class="m-skip-to-main" href="#main" tabindex="0" style="z-index:3000002"
                        data-m="{&quot;cN&quot;:&quot;Skip to content_nonnav&quot;,&quot;id&quot;:&quot;nn1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;m1r1a1&quot;}">Skip
                        to main content</a>


                    <header role="banner" class="c-uhfh context-uhf c-sgl-stck c-category-header" itemscope="itemscope"
                        data-header-footprint="/MSDocs/MSDocsHeader-AdaptiveCards" data-ckrate="1" data-magict="true"
                        itemtype="http://schema.org/Organization">
                        <div class="theme-light js-global-head f-closed  global-head-cont" data-m="{&quot;cN&quot;:&quot;Universal Header_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;m1r1a1&quot;}">
                            <div class="c-uhfh-gcontainer-st">
                                <button type="button" class="c-action-trigger c-glyph glyph-global-nav-button"
                                    aria-label="Header navigation menu" aria-expanded="false" data-m="{&quot;cN&quot;:&quot;Mobile menu button_nonnav&quot;,&quot;id&quot;:&quot;nn1c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2m1r1a1&quot;}"></button>
                                <button type="button" class="c-action-trigger c-glyph glyph-arrow-htmllegacy"
                                    aria-label="Close search" aria-expanded="false" data-m="{&quot;cN&quot;:&quot;Close Search_nonnav&quot;,&quot;id&quot;:&quot;nn2c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c2m1r1a1&quot;}"></button>
                                <a id="uhfLogo" class="c-logo c-sgl-stk-uhfLogo" itemprop="url" href="https://www.microsoft.com"
                                    aria-label="Microsoft" data-m="{&quot;cN&quot;:&quot;GlobalNav_Logo_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c2m1r1a1&quot;}">
                                    <img alt="" itemprop="logo" itemscope="itemscope" class="c-image" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
                                        role="presentation">
                                    <span role="presentation">Microsoft</span>
                                </a>
                                <div class="f-mobile-title">
                                    <button type="button" class="c-action-trigger c-glyph glyph-chevron-left"
                                        aria-label="See more menu options" data-m="{&quot;cN&quot;:&quot;Mobile back button_nonnav&quot;,&quot;id&quot;:&quot;nn4c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c2m1r1a1&quot;}"></button>
                                    <span data-global-title="Microsoft home" class="js-mobile-title">Adaptive Cards</span>
                                    <button type="button" class="c-action-trigger c-glyph glyph-chevron-right"
                                        aria-label="See more menu options" data-m="{&quot;cN&quot;:&quot;Mobile forward button_nonnav&quot;,&quot;id&quot;:&quot;nn5c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c2m1r1a1&quot;}"></button>
                                </div>
                                <div class="c-show-pipe x-hidden-vp-mobile-st">
                                    <a id="uhfCatLogo" class="c-logo c-cat-logo" href="https://adaptivecards.io"
                                        aria-label="Adaptive Cards" itemprop="url" data-m="{&quot;cN&quot;:&quot;CatNav_Adaptive Cards_nav&quot;,&quot;id&quot;:&quot;n6c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c2m1r1a1&quot;}">
                                        <span>Adaptive Cards</span>
                                    </a>
                                </div>
                                <div class="cat-logo-button-cont x-hidden">
                                    <button type="button" id="uhfCatLogoButton" class="c-cat-logo-button x-hidden"
                                        aria-expanded="false" aria-label="Adaptive Cards" data-m="{&quot;cN&quot;:&quot;Adaptive Cards_nonnav&quot;,&quot;id&quot;:&quot;nn7c2m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c2m1r1a1&quot;}">
                                        Adaptive Cards
                                    </button>
                                </div>



                                <nav id="uhf-g-nav" class="c-uhfh-gnav" role="presentation" data-m="{&quot;cN&quot;:&quot;Category nav_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c8c2m1r1a1&quot;,&quot;sN&quot;:8,&quot;aN&quot;:&quot;c2m1r1a1&quot;}">
                                    <ul class="js-paddle-items">
                                        <li class="single-link js-nav-menu x-hidden-none-mobile-vp">
                                            <a class="c-uhf-nav-link" href="<%- url_for('/') %>" data-m="{&quot;cN&quot;:&quot;CatNav_Home_nav&quot;,&quot;id&quot;:&quot;n1c8c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">
                                                Home </a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_0" class="c-uhf-nav-link" href="https://docs.microsoft.com/en-us/adaptive-cards"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Documentation_nav&quot;,&quot;id&quot;:&quot;n2c8c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Documentation</a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_1" class="c-uhf-nav-link" href="<%- url_for('explorer') %>"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Schema Explorer_nav&quot;,&quot;id&quot;:&quot;n3c8c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Schema Explorer</a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_3" class="c-uhf-nav-link" href="<%- url_for('samples') %>"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Samples_nav&quot;,&quot;id&quot;:&quot;n5c8c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Samples</a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_4" class="c-uhf-nav-link" href="<%- url_for('blog') %>"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Blog_nav&quot;,&quot;id&quot;:&quot;n6c8c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Blog</a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_5" class="c-uhf-nav-link" href="<%- url_for('designer') %>"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Designer_nav&quot;,&quot;id&quot;:&quot;n6c8c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Designer</a>
                                        </li>

                                        <li id="overflow-menu" class="overflow-menu x-hidden">
                                            <div class="c-uhf-menu js-nav-menu">
                                                <button data-m="{&quot;pid&quot;:&quot;More&quot;,&quot;id&quot;:&quot;nn7c8c2m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}"
                                                    type="button" aria-label="More" aria-expanded="false" style="white-space:nowrap">More</button>
                                                <ul id="overflow-menu-list" aria-hidden="true" class="overflow-menu-list">
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>

                                </nav>


                                <div class="c-uhfh-actions" data-m="{&quot;cN&quot;:&quot;Header actions_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c9c2m1r1a1&quot;,&quot;sN&quot;:9,&quot;aN&quot;:&quot;c2m1r1a1&quot;}">
                                    <div class="wf-menu">
                                        <nav id="uhf-c-nav" role="presentation" data-m="{&quot;cN&quot;:&quot;GlobalNav_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c9c2m1r1a1&quot;}">
                                            <ul class="js-paddle-items">
                                                <li>
                                                    <div class="c-uhf-menu js-nav-menu">
                                                        <button type="button" class="c-button-logo all-ms-nav"
                                                            aria-label="All Microsoft expand to see list of Microsoft products and services"
                                                            aria-expanded="false" data-m="{&quot;cN&quot;:&quot;GlobalNav_More_nonnav&quot;,&quot;id&quot;:&quot;nn1c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c1c9c2m1r1a1&quot;}"
                                                            style="white-space: nowrap"> <span>All Microsoft</span></button>
                                                        <ul class="f-multi-column f-multi-column-6" aria-hidden="true"
                                                            data-m="{&quot;cN&quot;:&quot;More_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c1c9c2m1r1a1&quot;}">
                                                            <li class="c-w0-contr">
                                                                <ul class="c-w0">
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Office_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c1c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_5" class="js-subm-uhf-nav-link"
                                                                            href="https://products.office.com/en-us/home"
                                                                            data-m="{&quot;cN&quot;:&quot;W0Nav_Office_nav&quot;,&quot;id&quot;:&quot;n1c1c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c1c2c1c9c2m1r1a1&quot;}">Office</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Windows_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_6" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/windows/"
                                                                            data-m="{&quot;cN&quot;:&quot;W0Nav_Windows_nav&quot;,&quot;id&quot;:&quot;n1c2c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c2c1c9c2m1r1a1&quot;}">Windows</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Surface_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_7" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/surface"
                                                                            data-m="{&quot;cN&quot;:&quot;W0Nav_Surface_nav&quot;,&quot;id&quot;:&quot;n1c3c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c2c1c9c2m1r1a1&quot;}">Surface</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Xbox_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_8" class="js-subm-uhf-nav-link"
                                                                            href="https://www.xbox.com/" data-m="{&quot;cN&quot;:&quot;W0Nav_Xbox_nav&quot;,&quot;id&quot;:&quot;n1c4c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c2c1c9c2m1r1a1&quot;}">Xbox</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Deals_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_9" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/store/b/sale?icid=gm_nav_L0_salepage"
                                                                            data-m="{&quot;cN&quot;:&quot;W0Nav_Deals_nav&quot;,&quot;id&quot;:&quot;n1c5c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c2c1c9c2m1r1a1&quot;}">Deals</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Support_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="l1_support" class="js-subm-uhf-nav-link"
                                                                            href="https://support.microsoft.com/en-us"
                                                                            data-m="{&quot;cN&quot;:&quot;W0Nav_Support_nav&quot;,&quot;id&quot;:&quot;n1c6c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c2c1c9c2m1r1a1&quot;}">Support</a>

                                                                    </li>
                                                                </ul>
                                                            </li>

                                                            <li class="f-sub-menu js-nav-menu nested-menu" data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">

                                                                <button type="button" role="presentation"
                                                                    f-multi-parent="true" aria-expanded="false" data-m="{&quot;id&quot;:&quot;nn1c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c7c2c1c9c2m1r1a1&quot;}">Software</button>
                                                                <ul aria-hidden="true" role="presentation">
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Software_WindowsApps_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c7c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_13" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/windows/windows-10-apps"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Software_WindowsApps_nav&quot;,&quot;id&quot;:&quot;n1c2c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c7c2c1c9c2m1r1a1&quot;}">Windows
                                                                            apps</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Software_OneDrive_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c7c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_14" class="js-subm-uhf-nav-link"
                                                                            href="https://onedrive.live.com/about/en-us/"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Software_OneDrive_nav&quot;,&quot;id&quot;:&quot;n1c3c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c7c2c1c9c2m1r1a1&quot;}">OneDrive</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Software_Outlook_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c7c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_15" class="js-subm-uhf-nav-link"
                                                                            href="https://outlook.live.com/owa/" data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Software_Outlook_nav&quot;,&quot;id&quot;:&quot;n1c4c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c7c2c1c9c2m1r1a1&quot;}">Outlook</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Software_Skype_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c7c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_16" class="js-subm-uhf-nav-link"
                                                                            href="https://www.skype.com/en/" data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Software_Skype_nav&quot;,&quot;id&quot;:&quot;n1c5c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c7c2c1c9c2m1r1a1&quot;}">Skype</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Software_OneNote_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c7c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_17" class="js-subm-uhf-nav-link"
                                                                            href="https://www.onenote.com/" data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Software_OneNote_nav&quot;,&quot;id&quot;:&quot;n1c6c7c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c7c2c1c9c2m1r1a1&quot;}">OneNote</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li class="f-sub-menu js-nav-menu nested-menu" data-m="{&quot;cN&quot;:&quot;PCsAndDevices_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:8,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">

                                                                <button type="button" role="presentation"
                                                                    f-multi-parent="true" aria-expanded="false" data-m="{&quot;cN&quot;:&quot;GlobalNav_PCsAndDevices_nonnav&quot;,&quot;id&quot;:&quot;nn1c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c8c2c1c9c2m1r1a1&quot;}">PCs
                                                                    &amp; Devices </button>
                                                                <ul aria-hidden="true" role="presentation">
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_PCsAndDevices_PCsAndTablets_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c8c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_19" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/windows/devices"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_PCsAndDevices_PCsAndTablets_nav&quot;,&quot;id&quot;:&quot;n1c2c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c8c2c1c9c2m1r1a1&quot;}">PCs
                                                                            &amp; tablets</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_PCAndDevices_Accessories_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c8c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_20" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/accessories/en-us"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_PCAndDevices_Accessories_nav&quot;,&quot;id&quot;:&quot;n1c3c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c8c2c1c9c2m1r1a1&quot;}">Accessories</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_PCsAndDevices_VMAndMixedReality_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c8c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_21" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/store/b/virtualreality?icid=TopNavVirtualReality"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_PCsAndDevices_VMAndMixedReality_nav&quot;,&quot;id&quot;:&quot;n1c4c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c8c2c1c9c2m1r1a1&quot;}">VR
                                                                            &amp; mixed reality</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_PCsAndDevices_MicrosoftHololens_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c8c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_22" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/hololens"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_PCsAndDevices_MicrosoftHololens_nav&quot;,&quot;id&quot;:&quot;n1c5c8c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c8c2c1c9c2m1r1a1&quot;}">Microsoft
                                                                            HoloLens</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li class="f-sub-menu js-nav-menu nested-menu" data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:9,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">

                                                                <button type="button" role="presentation"
                                                                    f-multi-parent="true" aria-expanded="false" data-m="{&quot;id&quot;:&quot;nn1c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c9c2c1c9c2m1r1a1&quot;}">Entertainment</button>
                                                                <ul aria-hidden="true" role="presentation">
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Products_DevicesAndXbox_XboxAndGames_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c9c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_24" class="js-subm-uhf-nav-link"
                                                                            href="https://www.xbox.com/en-us/games/xbox-one?xr=shellnav"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_Products_DevicesAndXbox_XboxAndGames_nav&quot;,&quot;id&quot;:&quot;n1c2c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c9c2c1c9c2m1r1a1&quot;}">Xbox
                                                                            games</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Entertainment_PCGames_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c9c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_25" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/windows/windows-10-games"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_Entertainment_PCGames_nav&quot;,&quot;id&quot;:&quot;n1c3c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c9c2c1c9c2m1r1a1&quot;}">PC
                                                                            games</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Entertainment_WindowsDigitalGames_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c9c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_26" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/store/games/windows?icid=TopNavWindowsGames"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Entertainment_WindowsDigitalGames_nav&quot;,&quot;id&quot;:&quot;n1c4c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c9c2c1c9c2m1r1a1&quot;}">Windows
                                                                            digital games</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Entertainment_MoviesAndTV_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c9c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_27" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/store/movies-and-tv?icid=TopNavMoviesAndTv"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Entertainment_MoviesAndTV_nav&quot;,&quot;id&quot;:&quot;n1c5c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c9c2c1c9c2m1r1a1&quot;}">Movies
                                                                            &amp; TV</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Entertainment_Books_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c9c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_28" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/store/books"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Entertainment_Books_nav&quot;,&quot;id&quot;:&quot;n1c6c9c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c9c2c1c9c2m1r1a1&quot;}">Books</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li class="f-sub-menu js-nav-menu nested-menu" data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:10,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">

                                                                <button type="button" role="presentation"
                                                                    f-multi-parent="true" aria-expanded="false" data-m="{&quot;id&quot;:&quot;nn1c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c10c2c1c9c2m1r1a1&quot;}">Business</button>
                                                                <ul aria-hidden="true" role="presentation">
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Business_MicrosoftAzure_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c10c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_30" class="js-subm-uhf-nav-link"
                                                                            href="https://azure.microsoft.com/en-us/"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Business_MicrosoftAzure_nav&quot;,&quot;id&quot;:&quot;n1c2c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c10c2c1c9c2m1r1a1&quot;}">Microsoft
                                                                            Azure</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Business_MicrosoftDynamics365_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c10c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_31" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/dynamics365/home"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Business_MicrosoftDynamics365_nav&quot;,&quot;id&quot;:&quot;n1c3c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c10c2c1c9c2m1r1a1&quot;}">Microsoft
                                                                            Dynamics 365</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Business_Microsoft365_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c10c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_32" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/microsoft-365/?omkt=en-US"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_Business_Microsoft365_nav&quot;,&quot;id&quot;:&quot;n1c4c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c10c2c1c9c2m1r1a1&quot;}">Microsoft
                                                                            365</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Products_ForBusiness_CloudPlatform_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c10c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_33" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/cloud-platform"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_Products_ForBusiness_CloudPlatform_nav&quot;,&quot;id&quot;:&quot;n1c5c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c10c2c1c9c2m1r1a1&quot;}">Cloud
                                                                            platform</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Business_Enterprise_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c10c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_34" class="js-subm-uhf-nav-link"
                                                                            href="https://enterprise.microsoft.com/en-us/"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Business_Enterprise_nav&quot;,&quot;id&quot;:&quot;n1c6c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c10c2c1c9c2m1r1a1&quot;}">Enterprise</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Business_DataPlatform_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c7c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c10c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_35" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/sql-server/ "
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Business_DataPlatform_nav&quot;,&quot;id&quot;:&quot;n1c7c10c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c7c10c2c1c9c2m1r1a1&quot;}">Data
                                                                            platform</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li class="f-sub-menu js-nav-menu nested-menu" data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:11,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">

                                                                <button type="button" role="presentation"
                                                                    f-multi-parent="true" aria-expanded="false" data-m="{&quot;id&quot;:&quot;nn1c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c11c2c1c9c2m1r1a1&quot;}">Developer
                                                                    &amp; IT </button>
                                                                <ul aria-hidden="true" role="presentation">
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_DeveloperAndIT_.Net_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c11c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_37" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/net/"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DeveloperAndIT_.Net_nav&quot;,&quot;id&quot;:&quot;n1c2c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c11c2c1c9c2m1r1a1&quot;}">.NET</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_DevelopersAndIT_VisualStudio_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c11c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_38" class="js-subm-uhf-nav-link"
                                                                            href="https://visualstudio.microsoft.com/"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DevelopersAndIT_VisualStudio_nav&quot;,&quot;id&quot;:&quot;n1c3c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c11c2c1c9c2m1r1a1&quot;}">Visual
                                                                            Studio</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_DeveloperAndIT_WindowsDevCenter_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c11c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_39" class="js-subm-uhf-nav-link"
                                                                            href="https://developer.microsoft.com/en-us/windows"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DeveloperAndIT_WindowsDevCenter_nav&quot;,&quot;id&quot;:&quot;n1c4c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c11c2c1c9c2m1r1a1&quot;}">Windows
                                                                            Dev Center</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_DeveloperAndIT_Docs.microsoft.com_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c11c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_40" class="js-subm-uhf-nav-link"
                                                                            href="https://docs.microsoft.com/en-us/"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_DeveloperAndIT_Docs.microsoft.com_nav&quot;,&quot;id&quot;:&quot;n1c5c11c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c11c2c1c9c2m1r1a1&quot;}">Docs</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li class="f-sub-menu js-nav-menu nested-menu" data-m="{&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:12,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}">

                                                                <button type="button" role="presentation"
                                                                    f-multi-parent="true" aria-expanded="false" data-m="{&quot;id&quot;:&quot;nn1c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c12c2c1c9c2m1r1a1&quot;}">Other</button>
                                                                <ul aria-hidden="true" role="presentation">
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Other_MicrosoftStore_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c12c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_42" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/store/b/home"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_Other_MicrosoftStore_nav&quot;,&quot;id&quot;:&quot;n1c2c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2c12c2c1c9c2m1r1a1&quot;}">Microsoft
                                                                            Store</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Products_SoftwareAndServices_FreeDownloadsAndSecurity_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c3c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c12c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_43" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/download/default.aspx"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_Products_SoftwareAndServices_FreeDownloadsAndSecurity_nav&quot;,&quot;id&quot;:&quot;n1c3c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3c12c2c1c9c2m1r1a1&quot;}">Free
                                                                            downloads &amp; security</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Products_ForStudentsAndEducators_Education_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c4c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c12c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_44" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/education?icid=CNavMSCOML0_Studentsandeducation"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_Products_ForStudentsAndEducators_Education_nav&quot;,&quot;id&quot;:&quot;n1c4c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4c12c2c1c9c2m1r1a1&quot;}">Education</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;More_Other_Store_Locations_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c5c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c12c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_45" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/store/locations/find-a-store?icid=TopNavStoreLocations"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_More_Other_Store_Locations_nav&quot;,&quot;id&quot;:&quot;n1c5c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c5c12c2c1c9c2m1r1a1&quot;}">Store
                                                                            locations</a>

                                                                    </li>
                                                                    <li class="js-nav-menu single-link" data-m="{&quot;cN&quot;:&quot;Store_More_GiftCards_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c6c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c12c2c1c9c2m1r1a1&quot;}">
                                                                        <a id="shellmenu_46" class="js-subm-uhf-nav-link"
                                                                            href="https://www.microsoft.com/en-us/store/b/gift-cards"
                                                                            data-m="{&quot;cN&quot;:&quot;GlobalNav_Store_More_GiftCards_nav&quot;,&quot;id&quot;:&quot;n1c6c12c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c6c12c2c1c9c2m1r1a1&quot;}">Gift
                                                                            cards</a>

                                                                    </li>
                                                                </ul>

                                                            </li>
                                                            <li class="f-multi-column-info">
                                                                <a data-m="{&quot;cN&quot;:&quot;View all_nav&quot;,&quot;id&quot;:&quot;n13c2c1c9c2m1r1a1&quot;,&quot;sN&quot;:13,&quot;aN&quot;:&quot;c2c1c9c2m1r1a1&quot;}"
                                                                    href="https://www.microsoft.com/en-us/sitemap.aspx"
                                                                    aria-label="View all" class="c-glyph">View all</a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>


                                </div>
                            </div>


                        </div>

                    </header>

                </div>
            </div>

        </section>
</div>

    <% if(!is_current('/') && !page.hideBreadcrumb) { /* no breadcrumb on home page */ %>
    <div class="content-header uhf-container has-padding" data-bi-name="content-header">
		<ul class="breadcrumbs" data-bi-name="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList" 
		 aria-label="Breadcrumb">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="mobile-breadcrumb">
               <a itemprop="item" href="<%- url_for('/') %>">Adaptive Cards</a>
            </li>			
			<% if(page.archive) { %>
				<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="mobile-breadcrumb">Blog</li>
			<% } else if(is_post()) { %>
				<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="mobile-breadcrumb">
					<a itemprop="item" href="<%- url_for('/blog') %>">Blog</a>
				</li>
				<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span itemprop="name"><%= page.title %></span></li>			
			<% } else { %>
				<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span itemprop="name"><%= page.title %></span></li>
			<% } %>

        </ul>
        <div class="content-header-controls exit-focus">
            <button type="button" class="ap-collapse-behavior ap-expanded button-border" data-bi-name="ap-collapse">
                <span class="docon docon-exit-mode"></span>
                Exit focus mode </button>

        </div>
        <div class="content-header-controls">
            <button type="button" class="contents-button button-border" data-bi-name="contents-expand">
                <span class="docon docon-menu"></span>
                Contents </button>
        </div>
        <div class="action-bar">
            <ul class="action-list">
                <li>
                    <a role="button" id="feedback-button" class="button" data-bi-name="feedback" tabindex="0" focusable="true">
                        <span class="docon docon-comment-lines" aria-hidden="true"></span> <span class="action-item-text">Feedback</span>
                    </a>
                </li>
                <li>
					<a href="https://github.com/Microsoft/AdaptiveCards/" class="button" data-bi-name="comments">
						
                        <span class="fab fa-github" aria-hidden="true"></span> <span class="action-item-text">GitHub</span>
                    </a>
                </li>

                <!--<li>
                    <div class="sharing dropdown has-caret" auto-align="">
                        <a href="#" class="dropdown-trigger" aria-haspopup="true" aria-controls="sharing-menu"
                            aria-expanded="false" title="Share This Document" data-bi-name="share">
                            <span class="docon docon-sharing" aria-hidden="true"></span><span class="action-item-text">Share</span>
                        </a>
                        <div class="dropdown-menu" id="sharing-menu" role="menu">
                            <ul data-bi-name="share-links">
                                <li><a class="share-twitter" data-bi-name="twitter" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Dtwitter&amp;text=Adaptive%20Cards%20Overview%20-%20Adaptive%20Cards%20%7C%20Microsoft%20Docs&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Dtwitter"><span
                                            class="docon docon-brand-twitter" aria-hidden="true"></span>Twitter</a></li>
                                <li><a class="share-linkedin" data-bi-name="linkedin" href="https://www.linkedin.com/cws/share?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Dlinkedin"><span
                                            class="docon docon-brand-linkedin" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a class="share-facebook" data-bi-name="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Dfacebook"><span
                                            class="docon docon-brand-facebook" aria-hidden="true"></span>Facebook</a></li>
                                <li><a class="share-email" data-bi-name="email" href="mailto:?subject=%5BShared%20Article%5D%20Adaptive%20Cards%20Overview%20-%20Adaptive%20Cards%20%7C%20Microsoft%20Docs&amp;body=Adaptive%20Cards%20Overview%20-%20Adaptive%20Cards%20%7C%20Microsoft%20Docs%0A%0Ahttps%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Demail"><span
                                            class="docon docon-mail-message-fill" aria-hidden="true"></span>Email</a></li>
                            </ul>
                        </div>
                    </div>
                </li>-->
            </ul>
            <button type="button" class="contents-button" aria-label="Contents" data-bi-name="contents-expand-">
                <span class="docon docon-editor-list-bullet"></span><span>Contents</span>
            </button>
        </div>
    </div>
    <div id="disclaimer-holder" class="disclaimer-holder"></div>
    <% } %>
</div>