<div class="w3-cell-row w3-border-top w3-margin-top">
	<div class="w3-container w3-cell w3-cell-middle w3-mobile">
		<h2><%- title %></h2>
		<h3><%- subtitle %></h3>
		<a href="<%- learnMoreLink %>"><%- learnMoreTitle  %></a>
	</div>

	<div class="w3-container w3-cell w3-mobile">
		<video autoplay muted style="width: 100%; margin-bottom: -8px"
			src="<%- video %>"></video>
	</div>
</div>
