<div class="w3-cell-row">
	<div class="w3-container w3-cell w3-cell-middle w3-mobile">
		<% if(locals.tag) { %>
			<p class="w3-xlarge w3-tag w3-round w3-padding ac-blue" style="margin-bottom: 0"><%- tag %></p>
		<% } %>		
		<h2><%- title %></h2>
		<h3><%- subtitle %></h3>
		<a href="<%- learnMoreLink %>"><%- learnMoreTitle  %> <i class="fas fa-chevron-right"></i></a>
	</div>
	<div class="w3-container w3-cell w3-mobile section-video" >
		<video data-autoplay="true" playsinline muted style="width: 100%; margin-bottom: -8px" data-loop-delay="<%= typeof videoLoopDelay !== 'undefined' ? videoLoopDelay : '' %>">
			<source src="<%- video %>" type="video/mp4" /> 
		</video>
	</div>
</div>
