<div class="w3-cell-row">
	<div class="w3-container w3-cell w3-cell-middle w3-mobile">
		<% if(section.tag) { %>
			<p class="w3-xlarge w3-tag w3-round w3-padding ac-blue" style="margin-bottom: 0"><%- section.tag %></p>
		<% } %>		
		<h2><%= section.title %></h2>
		<div class="accent-paragraph"><%= section.subtitle %></div>
		<a href="<%- section.learnMoreLink %>"><%= section.learnmore_title %> <i class="fas fa-chevron-right"></i></a>
	</div>
	<div class="w3-container w3-cell w3-mobile section-video" >
		<video data-autoplay="true" playsinline muted style="width: 100%; margin-bottom: -8px" data-loop-delay="<%= typeof section.videoLoopDelay !== 'undefined' ? section.videoLoopDelay : '' %>">
			<source src="<%- section.video %>" type="video/mp4" /> 
		</video>
	</div>
</div>
