<div class="w3-padding w3-center">
	<div class="w3-border-top" style="max-width: 450px; margin: auto">

		<p class="w3-large quote">&quot;<%- quote.quotation %>&quot;</p>

		<div class="w3-cell-row">
			<div class="w3-cell w3-right-align">
				<img src="<%- url_for(quote.profilePic) %>"
					alt="photo of <%- quote.author %>" class="w3-circle w3-image" style="width: 50px; margin-right: 8px;" />
			</div>
			<div class="w3-cell w3-cell-middle w3-left-align">
				<p class="author"><%- quote.author %></p>
				<p class="title"><%- quote.title %></p>
			</div>
			<div class="w3-cell w3-left-align">
				<img src="<%- url_for(quote.productLogo) %>" title="<%= typeof quote.productName !== 'undefined' ? quote.productName : '' %>"
					alt="Product logo" class="w3-border-left w3-padding w3-image" style="width:60px;" />
			</div>

		</div>

	</div>

</div>
