<div class="w3-row w3-margin-top w3-margin-bottom">

	<div class="w3-col s3 m12">
		<% if(locals.learnMoreLink) { %>
			<a href="<%- locals.learnMoreLink %>">
		<% } %>
		<img src="<%- url_for(smallImage) %>" style="max-height: 150px; padding-right: 8px"
             <% if (typeof smallImageAlt !== 'undefined') { %>
             alt="<%- smallImageAlt %>"
             <% } else { %>
             role="none"
             <% } %>
			class="w3-image w3-margin-right" />
		<% if(locals.learnMoreLink) { %>
			</a>
		<% } %>
	</div>

	<div class="w3-col s9 m12 w3-container">
		<h3 class="callout-title"><%- title %></h3>
		<p><%- subtitle %></p>
	</div>

</div>
